.column-1 {
  width: 110px;
}

.column-2 {
  width: 230px;
}

.column-3 {
  width: 350px;
}

.column-4 {
  width: 470px;
}

.column-5 {
  width: 590px;
}

.column-6 {
  width: 710px;
}

.column-7 {
  width: 830px;
}

.column-8 {
  width: 950px;
}