<div class="paper">
  <div class="elastic">
    <h1>I&#8217;m confused.</h1>
    
    <ul class="questions">
      <li>
        <a href="#what_is_a_filibuster">What is a <i>filibuster</i>?</a>
      </li>
      <li>
        <a href="#what_is_cloture">What is <i>cloture</i>?</a>
      </li>
      <li>
        <a href="#what_does_this_mean_for_legislation">What does this mean for legislation?</a>
      </li>
      <li>
        <a href="#why_only_the_senate">Why only the Senate?</a>
      </li>
      <li>
        <a href="is_the_filibuster_always_in_effect">Is the filibuster always in effect?</a>
      </li>
      <li>
        <a href="#when_something_requires_more_than_51_votes_is_it_always_because_of_a_filibuster">When something requires more than 51 votes, is it always because of a filibuster?</a>
      </li>
      <li>
        <a href="#why_are_republicans_doing_all_the_filibustering">Why are Republicans doing all the filibustering?</a>
      </li>
      <li>
        <a href="#so_we_should_get_rid_of_the_filibuster_then">So we should get rid of the filibuster, then?</a>
      </li>
      <li>
        <a href="#where_can_i_read_more_about_this">Where can I read more about this?</a>
      </li>
    </ul>
    
    
    <h2 id="what_is_a_filibuster">What is a <em>filibuster</em>?</h2>

    <p>Senate rules allow a senator to <i>filibuster</i> — to speak for an indefinite period of time on any subject whatsoever. Historically, this has been used to prevent action on the measure being debated.</p>

    <p>The filibuster is famous. In fiction, Jimmy Stewart used it at the end of <cite>Mr. Smith Goes To Washington</cite>; in reality, Strom Thurmond used it to protest the Civil Rights Act of 1957. As practiced by both, it&#8217;s theatrical — stand at your lectern and speak for hours on end, with no break whatsoever.</p>

    <p>For years, the filibuster was used <em>occasionally</em> to prevent action on bills that would otherwise pass with a simple majority. Eventually someone figured out that because filibusters are annoying for everyone involved, the mere <em>threat</em> of a filibuster is often just as effective as an <em>actual</em> filibuster.</p>

    <p>Because of this, filibustering has increased steadily over the last few decades and is at an all-time high. Yet because the theatrics have been removed from the act — nobody needs to speak for hours anymore — it doesn&#8217;t attract much attention.</p>

    <h2 id="what_is_cloture">What is <em>cloture</em>?</h2>

    <p><i>Cloture</i> — a process for limiting debate on a measure — is the Senate&#8217;s only weapon against the filibuster. The details have changed several times since its creation a century ago, but here&#8217;s the rule as it stands today: cloture is invoked when <em>three-fifths of all sworn-in senators</em> vote for the cloture motion. The Senate nearly always has 100 members, putting the magic number at 60.</p>

    <p>In other words, the cloture vote is the stand-off between a filibustering minority and an annoyed majority. If at least 60 senators vote Yea, the filibuster ends. If fewer than 60 vote Yea, the filibuster continues. In both cases, the side that &#8220;loses&#8221; has no further weapons to fight with.</p>

    <h2 id="what_does_this_mean_for_legislation">What does this mean for legislation?</h2>

    <p>It means that the threshold for passage of a bill can be raised from <em>51 votes</em> (a simple majority) to <em>60 votes</em> (a three-fifths majority) — the minority need only signal its intent to filibuster.</p>

    <p>Because filibusters aren&#8217;t costly in terms of political capital, a committed minority can treat the filibuster as the <em>default stance</em> out of which the Senate must rise in order to get <em>anything</em> done.</p>

    <h2 id="why_only_the_senate">Why only the Senate?</h2>

    <p>The House of Representatives has had sensible rules restricting debate since 1842, thereby making filibusters impossible. The Senate, usually the more sensible of the two houses, has not yet followed suit.</p>

    <h2 id="is_the_filibuster_always_in_effect">Is the filibuster always in effect?</h2>

    <p>Not quite. The Senate has a process called &#8220;reconciliation&#8221; for budget-related measures that, when invoked, sets a limit on total debate time for the measure. The time limit renders the filibuster impotent.</p>

    <h2 id="when_something_requires_more_than_51_votes_is_it_always_because_of_a_filibuster">When something requires more than 51 votes, is it always because of a filibuster?</h2>

    <p>No. There are a few other reasons why a measure might need more than 51 votes to pass:</p>

    <ul>
    <li>It takes 67 votes to override a president&#8217;s veto.</li>
    <li>It takes 67 votes to approve a treaty.</li>
    <li>It takes 67 votes to change the rules of the Senate. (We&#8217;ll come back to that.)</li>
    <li>It takes 60 votes to waive <em>PAYGO</em> (or &#8220;pay-as-you-go&#8221;) — the Senate rule that forbids increasing the deficit. This rule applied to the recent <a href="http://en.wikipedia.org/wiki/American_Recovery_and_Reinvestment_Act_of_2009" title="American Recovery and Reinvestment Act of 2009 - Wikipedia, the free encyclopedia">American Recovery and Reinvestment Act of 2009</a> (the &#8220;stimulus bill&#8221;), meaning it would&#8217;ve needed 60 votes to pass even in the absence of a filibuster.</li>
    </ul>

    <h2 id="why_are_republicans_doing_all_the_filibustering">Why are Republicans doing all the filibustering?</h2>

    <p>Because they&#8217;re the minority party in the Senate and have been since the 2006 midterm elections. If your party controls the agenda (as Democrats currently do) you don&#8217;t need the filibuster.</p>

    <p>But both parties have used the filibuster; there&#8217;s nothing inherently Republican or Democratic about it.</p>

    <h2 id="so_we_should_get_rid_of_the_filibuster_then">So we should get rid of the filibuster, then?</h2>

    <p>Possibly. There&#8217;s nothing special about the filibuster, except that it&#8217;s been around for a while. There&#8217;s no mention of it in the Constitution. The Senate is in charge of making its own rules — and can, therefore, get rid of the filibuster whenever it wants, simply by following the House&#8217;s lead and adopting general rules that limit debate.</p>

    <p>That&#8217;s easier said than done because of the rule mentioned above: it takes a two-thirds majority to change the rules of the Senate. It would be hard to convince any members of the minority party to give up their single most powerful weapon.</p>

    <p>As an alternative to eliminating the filibuster altogether, the Senate could lower the threshold for cloture, or expand the reconciliation process to apply to more than just budgetary matters. But those, too, would require a supermajority to pass.</p>

    <h2 id="where_can_i_read_more_about_this">Where can I read more about this?</h2>

    <p>The Wikipedia articles on <a href="http://en.wikipedia.org/wiki/Filibuster#United_States" title="Filibuster - Wikipedia, the free encyclopedia">filibuster</a> and <a href="http://en.wikipedia.org/wiki/Cloture#United_States" title="Cloture - Wikipedia, the free encyclopedia">cloture</a> were useful in compiling this FAQ.</p>

    <p>The official Senate site has its own pages on <a href="http://senate.gov/reference/reference_index_subjects/Filibuster_vrd.htm" title="U.S. Senate: Reference Home &gt; Virtual Reference Desk &gt; Filibuster">filibuster</a> and <a href="http://senate.gov/reference/reference_index_subjects/Cloture_vrd.htm" title="U.S. Senate: Reference Home &gt; Virtual Reference Desk &gt; Cloture">cloture</a>.</p>

    <p>Left-leaning political blogger Matthew Yglesias has argued for eliminating the filibuster in two articles:</p>

    <ul>
    <li>&#8220;<a href="http://www.prospect.org/cs/articles?articleId=9483" title="Article | The American Prospect">Failure Buster</a>,&#8221; The American Prospect, April 2005</li>
    <li>&#8220;<a href="http://www.theatlantic.com/doc/200812u/filibuster" title="The Silenced Majority - The Atlantic
    (December 24, 2008)">The Silenced Majority</a>,&#8221; The Atlantic, December 2008</li>
    </ul>

    <p>The dates of these articles are noteworthy. Many pundits on both sides complain about the filibuster only when <em>the other side</em> uses it; yet Yglesias argued for its elimination even when the Democrats were the minority party in the Senate.</p>
    
    
  </div> <!-- .elastic -->
</div> <!-- .paper -->