<div class="paper">
  
  <div class="elastic clearfix">
    
    <h1>About this site</h1>

    <div class="column column-4">

      <h3>How it works</h3>
      
      <p>The arcane details of what goes on in the U.S. Senate are recorded on a daily basis by <a href="http://www.govtrack.us/" title="GovTrack.us: Tracking the U.S. Congress">GovTrack</a>, then put into a machine-readable format so it can be consumed by others.</p>
      
      <p>Every night, Filibusted checks to see what the Senate voted on that day. If there were any cloture votes, it finds out all it can about them — any associated bills and amendments, who voted which way, and so on — and stores it.</p>
      
      <p><a href="http://www.sunlightlabs.com/" title="Sunlight Labs">Sunlight Labs</a>, the geek-friendly project of the <a href="http://sunlightfoundation.com/" title="Sunlight Foundation">Sunlight Foundation</a>, assisted with basic information and photos for each senator.</p>
      
    </div> <!-- .column -->
    
    <div class="column column-4">
      <h3>Colophon</h3>
      
      <p>Filibusted is built atop <a href="http://rubyonrails.org/" title="Ruby on Rails">Ruby on Rails</a>, which makes it possible to cobble together cool things to meet deadlines.</p>
      
      <p>It&#8217;s hosted by <a href="http://www.slicehost.com/" title="Slicehost - VPS Hosting">Slicehost</a> — cheap, fast, developer-friendly VPS hosting.</p>
      
      <h3>Author</h3>
      
      <p>Filibusted was written by <a href="http://andrewdupont.net/" title="Painfully Obvious">Andrew Dupont</a>. Valuable feedback and advice was given by <a href="http://alternateidea.com/" title="AlternateIdea:  JavaScript, Cocoa, Ruby & The Mac">Justin Palmer</a>.</p>
            
      
      <h3>Help out</h3>
      
      <p>Filibusted is an open-source, <a href="http://www.opensource.org/licenses/mit-license.html" title="The MIT License">MIT-licensed</a> project. If you&#8217;re keen on that sort of thing, you can <a href="https://github.com/savetheclocktower/filibusted/">browse the source code on GitHub</a> and suggest changes.</p>
      
      
    </div> <!-- .column -->
    
    
    
    
    
    
  </div> <!-- .elastic -->
  
</div> <!-- .paper -->