<div class="footer">
  
  <div class="footer-content clearfix">
    
    <div class="footer-left">
      
      <div class="about pngfix">
        <h3>About this site</h3>

        <p>When Senators filibuster, we think you ought to know about it. <i>Filibusted</i> points out legislative piracy as it happens. (<b><%= link_to "Learn more &rarr;", :controller => :learn %></b>)</p>
      </div> <!-- .about -->


      <div class="twitter pngfix">
        <h3>Follow us on Twitter</h3>

        <p>Most news stories about Congress don't mention filibusters or cloture votes. Follow <a href="http://twitter.com/filibusted">@filibusted</a> on <a href="http://twitter.com">Twitter</a> and we'll tell you when they happen.</p>
      </div> <!-- .twitter -->
      
    </div> <!-- .footer-left -->
    
    <div class="footer-right">
      
      <div class="how-it-works">
        
        <h3>How it works</h3>

        <p>The information on this site is aggregated regularly from <a href="http://www.govtrack.us/" title="GovTrack.us: Tracking the U.S. Congress">GovTrack</a> and <a href="http://www.sunlightlabs.com/" title="Sunlight Labs">Sunlight Labs</a>. (<b><%= link_to "Colophon &rarr;", :controller => :about %></b>)</p>
                
      </div> <!-- .how-it-works -->        
      
      <div class="open-government">
        
        <h3>Open government</h3>
        
        <p>Filibusted supports the <a href="http://sunlightfoundation.com/about/" title="Sunlight Foundation">Sunlight Foundation</a>'s goal to make government more transparent, open, and accessible to citizens through technology.</p>
        
      </div> <!-- .open-government -->
      
    </div> <!-- .footer-right -->
    
  </div> <!-- .footer-content -->
      
</div> <!-- .footer -->
