<div class="header clearfix">
  
  <div class="elastic">
    <div id="logo" class="logo-container">
      <a href="/">
        <h1 class="pngfix"><span class="replaced">Filibusted</span></h1>        
      </a>
    </div>
    
    <%= render :partial => "application/navigation" %>
  </div> <!-- .elastic -->
  
  
</div> <!-- .header -->
