<div class="navigation clearfix">
  
  <ul>
    <li>
      <%= link_to "Congress", :controller => "congress" %>
    </li>
    <li>
      <%= link_to "Senators", :controller => "senators" %>
    </li>
    <li>
      <%= link_to "Learn",    :controller => "learn"    %>
    </li>
    <li>
      <%= link_to "About",    :controller => "about"    %>
    </li>
  </ul>  
  
</div> <!-- .navigation -->